# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Flask / App Data
# =========================
instance/
*.db
*.sqlite3

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Build / Packaging
# =========================
dist/
build/
*.egg-info/